<nav class="navbar navbar-light bg-Success">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin">Medicare</a>
    <a class="nav-link active" aria-current="page" href="#">Active</a>
    <a class="nav-link" href="/recherach">Add Research</a>
    <a class="nav-link" href="/Doc">Add Doctor</a>
    <a class="nav-link" href="/departmentForm">Add Department</a>
    <a class="nav-link disabled">Disabled</a>
    <form class="d-flex">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Login / Register
        </a>
        <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="left: 1400px;">
          
          <li><a class="dropdown-item " href="/register">Register</a></li>
          <li><a class="dropdown-item " href="/login">Login</a></li>
        </ul>
    </form>
  </div>
</nav>