
<div class="main-sidebar">
  
  <div class="user-panel text-center">
    <p<a href="/">Hospital</a></p>
    <a href="http://"></a>
  </div>
  <ul class="treeview">
   <li><a href="/">About</a></li> 
   <li><a href="/doctorForm">Add Doctor</a></li> 
   <li> <a href="/">List Doctor</a></li> 
   <li> <a href="/departmentForm">Add Department</a></li> 
   <li> <a href="">List Department</a></li> 
   <li> <a href="/patientForm">Add Patient</a></li> 
   <li> <a href="/">Patient List</a></li> 
  </ul>
</div>

  <!-- Content Header (Page header) -->
  <section id="content-header">

      <div class="content-wrapper">
        <div class="hamburger">
               
          <!-- <svg focusable="false"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg> -->
          <img class="cross" src="images/cross.png" width="30px" alt="">
          <img class="ham" src="images/hamsign.png"   width="30px" alt="">
        </div>
      </div>
  </section>
   
 <!-- Page content-->
