<%- include('partials/header') %>

<nav class="nav navbar navbar-light bg-Success ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Medicare</a>
    <form class="d-flex">
        <a class="nav-link dropdown-toggle" href="#" id="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Login / Register
        </a>
        <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink" style="left: 1400px;">
          
          <li><a class="dropdown-item " href="/register">Register</a></li>
          <li><a class="dropdown-item " href="/login">Login</a></li>
        </ul>
    </form>
  </div>
</nav>




<%- include('carousel') %>
  <%- include('card') %>


<%- include('partials/footer') %>