<%- include('partials/header') %>

     <!-- Makes POST request to /register route -->
<main class="form-signin ">
  <form action="/register" method="post">    
    <h1 class="h3 mb-3 mb-4 fw-normal">Register </h1>   

    <div class="form-floating">
      <input type="email" name="username" class="form-control bottom" id="floatingInput1" placeholder="Patient Full name:" required autofocus>
      <label for="floatingInput1">Email:</label>
    </div>
    <div class="form-floating">
      <input type="password" id="password" class="form-control bottom" name="password">
      <label for="password">Password:</label>
    </div>
    <div>
      <div>
        <select name="state" id="state" class="form-control">
          <option value="">State / UT *</option>
                                      <option value="U01">Andaman &amp; Nicobar Islands</option>
                                      <option value="S01">Andhra Pradesh</option>
                                      <option value="S02">Arunachal Pradesh</option>
                                      <option value="S03">Assam</option>
                                      <option value="S04">Bihar</option>
                                      <option value="U02">Chandigarh</option>
                                      <option value="S26">Chattisgarh</option>
                                      <option value="U03">Dadra &amp; Nagar Haveli</option>
                                      <option value="U04">Daman &amp; Diu</option>
                                      <option value="S05">Goa</option>
                                      <option value="S06">Gujarat</option>
                                      <option value="S07">Haryana</option>
                                      <option value="S08">Himachal Pradesh</option>
                                      <option value="U08">Jammu and Kashmir</option>
                                      <option value="S27">Jharkhand</option>
                                      <option value="S10">Karnataka</option>
                                      <option value="S11">Kerala</option>
                                      <option value="U09">Ladakh</option>
                                      <option value="U06">Lakshadweep</option>
                                      <option value="S12">Madhya Pradesh</option>
                                      <option value="S13">Maharashtra</option>
                                      <option value="S14">Manipur</option>
                                      <option value="S15">Meghalaya</option>
                                      <option value="S16">Mizoram</option>
                                      <option value="S17">Nagaland</option>
                                      <option value="U05">NCT OF Delhi</option>
                                      <option value="S18">Odisha</option>
                                      <option value="U07">Puducherry</option>
                                      <option value="S19">Punjab</option>
                                      <option value="S20">Rajasthan</option>
                                      <option value="S21">Sikkim</option>
                                      <option value="S22">Tamil Nadu</option>
                                      <option value="S29">Telangana</option>
                                      <option value="S23">Tripura</option>
                                      <option value="S24">Uttar Pradesh</option>
                                      <option value="S28">Uttarakhand</option>
                                      <option value="S25">West Bengal</option>
                              </select>
      </div>

      <input type="checkbox" class="" name="members"  id="togglee" onClick="memDeleteButton()"checked ><p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
      <button class="w-100 btn btn-lg btn-primary show "   id="memDeleteSelected">Register </button>
      
    </div>    
    <div class="container signin">
      <p><b>Already have an account? <a href="/login"> Sign in</a></b>.</p>
    </div>
      <p class="mt-5 mb-3 text-muted">&copy; hostpital</p>
  </form>
</main>
          
        
        


    <!-- <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->

  
    <%- include('partials/footer') %>